<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7h3 5h0p</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
<header class="header">
    <div class="logo-shop">
        <a class="logo-shop__link">
            <img class="logo-shop__link_the-shop" src="img/the_shop_logo.svg">
        </a>
    </div>
    <div class="logo-oggetto">
        <a class="logo-oggetto__link">
            <img class="logo-oggetto__img" src="img/oggetto_logo.png">
        </a>
    </div>
    <div class="phone">
        <span class="phone__number">+7(812)2•12•85•06</span>
    </div>
</header>
<div class="menu">
    <div class="navigation">
        <ul class="navigation__list">
            <% const navigation = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP']; %>
            <% navigation.forEach(function (element, index) { %>
            <li class="navigation__item">
                <% if(index === 0){ %>
                <a href="#" class="navigation__link navigation__link_style"><%= element; %></a>
                <% } else { %>
                <a href="#" class="navigation__link"><%= element; %></a>
                <% } %>
            </li>
            <% }); %>
        </ul>
    </div>
    <form id="search" action="#" method="get" class="search">
        <input class="search__area" type="search" title="search">
        <img class="search__icon" src="img/search.png">
    </form>
</div>
<div class="content clearfix">
    <div class="breadcrumbs clearfix">
        <ul class="breadcrumbs__list">
            <% const breadcrumbs = ['LISP', 'Одежда', 'Футболки']; %>
            <% breadcrumbs.forEach(function (element, index) { %>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link"><%= element %></a>
                <% if(index < (breadcrumbs.length - 1)){ %>
                <span class="breadcrumbs__separator">/</span>
                <% } %>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="photo_wrap">
        <img id="mainPhoto" class="photo__img" src="img/tshirt_white.jpg">
    </div>
    <div class="product-description">
        <h1 class="product-description__title">Футболка Alien technology</h1>
        <h2 class="product-description__text">Состав: 100% хлопок, динамическая типизация, польская нотация.
            Производство: Россия.</h2>
        <form action="#" method="post" class="product-props">
            <span class="product-description__price">1500₽</span>
            <p class="product-props__title clearfix">Размер:</p>
            <div class="product-props__list clearfix">
                <% const size = [
                    {id: 'sizeS', value: 's', attr: 'checked', text: 'S'},
                    {id: 'sizeM', value: 'm', attr: 'checked', text: 'M'},
                    {id: 'sizeL', value: 'l', attr: 'checked', text: 'L'}]; %>
                <% size.forEach(function (element, index) { %>
                <input type="radio" id="<%= element.id; %>" name="size" class="product-props__item"
                       value="<%= element.value; %>"
                        <% if(index === 1) { %>
                        <%= element.attr; %>
                        <% } %>
                >
                <label class="product-props__link product-props__size"
                       for="<%= element.id; %>"><%= element.text; %></label>

                <% }); %>
            </div>
            <p class="product-props__title clearfix">Цвет:</p>
            <div class="product-props__list clearfix">
                <% const color = [
                    {col: 'col1', attr: 'checked', data: 'white'},
                    {col: 'col2', attr: 'checked', data: 'yellow'},
                    {col: 'col3', attr: 'checked', data: 'green'}]; %>
                <% color.forEach(function (element, index) { %>
                <input type="radio" id="<%= element.col; %>" name="color" class="product-props__item"
                        <% if(index === 0) { %>
                        <%= element.attr; %>
                        <% } %>
                >
                <label class="product-props__link product-props__size product-props__item_color<%= index + 1; %>"
                       data-color="<%= element.data; %>"
                       for="<%= element.col; %>"></label>
                <% }); %>
            </div>
            <button class="product-description__button" type="submit">Купить</button>
        </form>
        <div class="favourite">
            <img class="favourite__icon" src="img/heart.png">
            <a class="favourite__title">Отложить на потом</a>
        </div>
    </div>
</div>
<footer class="footer footer_wrap">
    <div class="footer__top clearfix">
        <div class="footer-links clearfix">
            <p class="footer-links__title">Сервис и поддержка</p>
            <ul class="footer-links__list">
                <% const service = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка', 'Способы оплаты',
                    'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы']; %>
                <% service.forEach(function (element, index) { %>
                <li class="footer-links__item">
                    <a href="#" class="footer-links__link"><%= element; %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="footer-links clearfix">
            <p class="footer-links__title">О компании</p>
            <ul class="footer-links__list">
                <% const company = ['О нас', 'Контакты', 'Вакансии', 'Партнерами', 'Сертификаты', 'Преимущества',
                    'Наши скидки']; %>
                <% company.forEach(function (element, index) { %>
                <li class="footer-links__item">
                    <a href="#" class="footer-links__link"><%= element; %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div class="capabilities">
            <div class="capabilities__wrap">
                <ul class="capabilities__list">
                    <% const capabilities = [
                        {
                            imgClass: 'capabilities__icon_delivery',
                            src: 'delivery.svg',
                            text: 'бесплатная доставка от 4000₽'
                        },
                        {
                            imgClass: 'capabilities__icon_heart',
                            src: 'heart.svg',
                            text: 'пробники в подарок при каждой покупке'
                        },
                        {imgClass: 'capabilities__icon_cup', src: 'cup.svg', text: 'акции и подарки за покупку'}]; %>
                    <% capabilities.forEach(function (element, index) { %>
                    <li class="capabilities__item">
                        <img class="capabilities__icon <%= element.imgClass %>" src="img/<%= element.src %>">
                        <span class="capabilities__text"><%= element.text; %></span>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <div class="social">
                <ul class="social__list">
                    <% const social = ['facebook.svg', 'twitter.svg', 'instagram.svg']; %>
                    <% social.forEach(function (element, index) { %>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <img class="social__icon" src="img/<%= element; %>">
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <hr class="footer__line">
        <p class="footer__copy">2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.</p>
        <p class="footer__law">Все права защищены. Доставка по всей России!</p>
    </div>
</footer>

<script src="js/scripts.js"></script>
</body>
</html>
